<!doctype html>
<html ng-app="jianjianbaoApp">
<head>
  <title>User Login and Sessions</title>
  <link rel="stylesheet" type="text/css" 
      href="/static/css/styles.css" />
</head>
<body>
  <div ng-controller="userController">
    <h2>Welcome to JianJianBao, <%= username %></h2>
    <a href="/logout">logout</a>
    <a href="/user">Edit User</a>
    <a href="/poster">Make Poster</a>
  </div>
  <div ng-controller="posterController">
    <form>
      <textarea ng-model="posterBody"></textarea>
    </form>  
  </div>
  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js/jianjianbao.js"></script>
</body>
</html>