<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    
    <link rel="stylesheet" href="/static/mauiwww/css/app.min.css" />
    <link rel="stylesheet" href="/static/mauiwww/css/responsive.min.css" />
    <link rel="stylesheet" href="/static/mauiwww/css/app.main.css" />
    
    <script src="/static/mauiwww/js/vendor/angular.min.js"></script>
    <script src="/static/mauiwww/js/vendor/angular-route.min.js"></script>
    <script src="/static/mauiwww/js/vendor/mobile-angular-ui.min.js"></script>
    <script src="/static/mauiwww/js/app.js"></script>
    <script src="/static/mauiwww/js/controllers/controllers.js"></script>
    
    <div id='wx_pic' style='margin:0 auto;display:none;'>
      <img src='/static/mauiwww/images/pic300.jpg' />
    </div>
  </head>
  <body ng-app="JApp" ng-controller="AppMainCtrl">
    <div class="app">
      
      <!-- Navbars -->
      <!--width="40" height="40"-->
      <div class="navbar navbar-app navbar-absolute-bottom">
        <div class="btn-group justified" ui-yield-to="navbarAction">
          <a class="btn btn-navbar"><i class="fa fa-share-alt fa-navbar"></i> 转发有礼</a>
          <a href="#{{posterMainPath}}/creation" class="btn btn-navbar"><i class="fa fa-edit fa-navbar"></i> 我要发榜</a>
          <a class="btn btn-navbar"><i class="fa fa-comment fa-navbar"></i> 留言</a>
          <a class="btn btn-navbar"><i class="fa fa-th fa-navbar"></i> 更多</a>
        </div>
      </div>

      <!-- App Body -->
      <div class="app-body">
        <div class="app-content">
          <ng-view></ng-view>  
        </div>
      </div>

    </div><!-- ~ .app -->

    <div ui-yield-to="modals"></div>
  </body>
</html>