<!DOCTYPE html>
<!-- daoeee.com Copy right -->

<html ng-app="jianjianbaoApp">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  
  <!-- jquery mobile -->  
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  
  <!-- 自定义CSS--->
  <link rel="stylesheet" href="../static/css/main.css">
  
  <!-- angular js -->  
  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js/jianjianbao.js"></script> 
  
  <script>
    $(document).on("pagebeforeshow","#海报主界面",function(){
      //history.pushState("", "Title", "poster/1?visitor=1");
      //history.replaceState("", "Title", "/user");
      //history.pushState("", "Title", "#id=1&visitor=1");
    });
    $(document).on("pageshow","#海报主界面",function(){
      //history.pushState("", "Title", "poster/1?visitor=1");
      //history.replaceState("", "Title", "./poster?id=1&visitor=1");
      //history.pushState("", "Title", "#id=1&visitor=1");
    });
  </script>
</head>
<body ng-controller="posterController">
  
<div data-role="page" id="海报主界面"
     data-title="万元求抱校园大学生运营合伙人"
     data-url="http://poster/1">
  
  <div data-role="content">
    <p>{{posterid}}</p>
  </div>
  
  <!-- 页脚：开始 -->
  <div data-role="footer" data-position="fixed">
    <div class="ui-grid-c center">
      <div class="ui-block-a">
        <a href="#"
          data-role="button"
          data-icon="action"
          data-iconpos="top"
          data-inline="true"
          >转发有礼</a>
      </div>
      <div class="ui-block-b">
        <a href="#海报发布界面" data-transition="slideup"
          data-role="button"
          data-icon="edit"
          data-iconpos="top"
          data-inline="true"
          >我要发榜</a>
      </div>
      <div class="ui-block-c">
        <a href="#"
          data-role="button"
          data-icon="comment"
          data-iconpos="top"
          data-inline="true"
          >　留言　</a>
      </div>
      <div class="ui-block-d">
        <a href="#"
          data-role="button"
          data-icon="grid"
          data-iconpos="top"
          data-inline="true"
          >　更多　</a>
      </div>
    </div>
  </div>
  <!-- 页脚：结束 -->
  
</div>

<div data-role="page" id="海报发布界面"
     data-title="发布"
     data-url="http://poster/1/poster?method=new">

  <div data-role="content">
    <form>
      
      <label for="text-8" class="ui-hidden-accessible"></label>
      <input type="text" name="posterSubject" id="text-8"
             ng-model="posterSubject" value="" placeholder="标题，6-30字">
        
      <label for="textarea-8" class="ui-hidden-accessible"></label>
      <textarea name="textarea-8" id="textarea-8"
                cols="40" rows="8"
                ng-model="posterBody" placeholder="碰到了什么问题，需要什么样的人向你提供什么，10-300字"></textarea>
      
      <div class="ui-grid-d center">
        <div class="ui-block-a">
        </div>
        <div class="ui-block-b">
        </div>
        <div class="ui-block-c"></div>
        <div class="ui-block-d">
          <a class="ui-shadow ui-btn ui-corner-all ui-icon-grid ui-btn-icon-notext ui-btn-inline">图片</a>
        </div>
        <div class="ui-block-e">
          <a class="ui-shadow ui-btn ui-corner-all ui-icon-camera ui-btn-icon-notext ui-btn-inline">拍照</a>
        </div>
      </div>
      <p></p>
      
      <fieldset data-role="controlgroup" data-type="horizontal">
        <label for="现金红包">现金红包</label>
        <input type="radio" name="酬谢形式" id="现金红包" value="现金红包" checked="checked">
        <label for="其它酬谢形式">其它酬谢形式</label>
        <input type="radio" name="酬谢形式" id="其它酬谢形式" value="其它" disabled="disabled">
      </fieldset>
      
      <fieldset data-role="controlgroup" data-type="horizontal">
        <!--label for="amt10">10元</label>
        <input type="radio" name="gender" id="amt10" value="10"-->
        <label for="amt20">20元</label>
        <input type="radio" ng-model="posterAmt" name="红包金额" id="amt20" value="20">
        <label for="amt50">50元</label>
        <input type="radio" ng-model="posterAmt" name="红包金额" id="amt50" value="50">
        <label for="amt100">100元</label>
        <input type="radio" ng-model="posterAmt" name="红包金额" id="amt100" value="100">
        <label for="amt500">500元</label>
        <input type="radio" ng-model="posterAmt" name="红包金额" id="amt500" value="500">
        <label for="text-8" class="ui-hidden-accessible"></label>
        <input type="number" name="红包金额" id="amtkeyin"
               value="" ng-model="posterAmt" placeholder="其它金额，单位：元">
      </fieldset>
      
      <p></p>
      
      <input type="checkbox" name="checkbox-mini-0" id="checkbox-mini-0" data-mini="true" checked="checked">
      <label for="checkbox-mini-0">同意《用户协议》</label>
      
    </form>
    

  <!-- 页脚：开始-->
  <div data-role="footer" data-position="fixed">
    <div class="ui-grid-c center">
      <div class="ui-block-a">
        <a href="#海报主界面"
          data-role="button" data-inline="true"
          data-icon="delete" data-iconpos="left"
          data-transition="slidedown"
          >取消</a>
      </div>
      <div class="ui-block-b"></div>
      <div class="ui-block-c"></div>
      <div class="ui-block-d">
        <a href="#海报主界面"
          data-role="button" data-inline="true"
          data-icon="action" data-iconpos="right"
          data-transition="slidedown"
          ng-click="addPoster(posterSubject,posterBody, posterAmt)"
       >提交</a>
      </div>
    </div>
  </div>
  <!-- 页脚：结束-->
  
</div> 

<script>
  //alert("run ok!");
  //history.pushState("", "Title", "www.baidu.com/new-url");
</script>

</body>
</html>