<!doctype html>
<html ng-app="myApp">
<head>
  <title>Make Poster</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body>
  <div ng-controller="posterController">
    <form>
      <label>Subject</label>
      <input type="text" ng-model="posterSubject")></input>
      <label>Comment</label>
      <textarea ng-model="posterBody"></textarea>
      <input type="button" value="Post" 
             ng-click="addPoster(posterSubject,posterBody)" />
    </form>  
  </div>
  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js/jianjianbao.js"></script>
</body>
</html>